*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(28, 45, 47);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-principal{
    width: 600px;
    height: 200px;
    max-width: 100%;
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#register-user,#edit-user,#delete-user{
    width: 200px;
    height: 200px;
    background: none;
    border: none;
    border: 2px solid rgb(51, 108, 161);
    color: white;
    font-size: 18px;
    outline: 0;
    cursor: pointer;
}
.box{
    transition: 0.25s; 
}

.box:hover{
    transition: 0.25s;
    background: rgb(51, 108, 161);  
}

#registerWindow, #editWindow, #deleteWindow{
    width: 500px;
    max-width: 100%;
    position: relative;
    display: none;
    background-color: #191919;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    margin-bottom: 10px;
}

.field{
    width: 60%;
    padding: 5px 0;
    margin: 10px 0;
    padding: 10px 0;
    background: none;
    color: white;
    border: 2px solid rgb(51, 108, 161);
    outline: 0;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 20px;
    text-align: center;
}

.fas{
   position: absolute;
   color: white;
   cursor: pointer;
   font-size: 35px;
   top: 10px;
   left: 20px;
}

input::placeholder{
    font-size: 15px;
    text-align: center;
    color: white;
}

.field:focus{
    width: 70%;
    border-color: yellow;
}

#sendReg, #sendEdt, #sendDel{
    width: 100px;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    background: none;
    border: 2px solid rgb(51, 108, 161);
    border-radius: 15px;
    outline: 0;
    color: white;
    transition: 0.5s;
}

#sendReg:hover, #sendEdt:hover, #sendDel:hover{
    background: rgb(51, 108, 161);
}


@media screen and (max-width: 600px){
    #box-principal{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 600px;
    }

    #register-user,#edit-user,#delete-user{
        height: 150px;
    }
}

