*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(28, 45, 47);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#content{
    width: 500px;
    max-width: 100%;
    height: 300px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    margin-bottom: 10px;
}

.field{
    width: 60%;
    padding: 5px 0;
    margin: 10px 0;
    padding: 10px 0;
    background: none;
    color: white;
    border: 2px solid rgb(51, 108, 161);
    outline: 0;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 20px;
    text-align: center;
}

input::placeholder{
    font-size: 15px;
    text-align: center;
    color: white;
}

.field:focus{
    width: 70%;
    border-color: yellow;
}

#send{
    width: 100px;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    background: none;
    border: 2px solid rgb(51, 108, 161);
    border-radius: 15px;
    outline: 0;
    color: white;
    transition: 0.5s;
}

#send:hover{
    background: rgb(51, 108, 161);
}