*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content{
    width: 500px;
    max-width: 100%;
    height: 200px;
    background-color: #ccc;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field{
    width: 60%;
    padding: 5px 0;
    margin: 10px 0;
    outline: 0;
}

#send{
    width: 100px;
    height: 30px;
    cursor: pointer;
}